* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: Arial;
    background-color: #07A36F;
    padding: 50px;
}

.login {
    margin: 20px auto;
    width: 300px;
}

.form1 {
    margin: 20px auto;
    width: 1200px;
}

.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.app-title {
    text-align: center;
    color: #777;
}

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #22BF5C;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #22BF5C;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 120px;
    margin: 0 auto;
}

.btn:hover {
    background-color: #12A146;
}

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}

.div2 {
    text-align: center;
    width: 800px;
    margin: auto;
}

.div-image {
    text-align: center;
    margin: auto;
}

.footer {
    padding-top: 19px;
    color: #444;
    border-top: 1px solid #e5e5e5;
}

a {
    background-color: #22BF5C !important;
    color: #ffffff !important;
}

a:hover {
    text-decoration: underline;
    background-color: #12A146 !important;
    color: #ffffff !important;
    cursor: pointer;
}


/**/


/* grid */


/**/

.grid-row {
    margin-top: 20px;
}

.grid-row:after {
    content: '';
    display: table;
    clear: both;
}

.grid-row:first-child {
    margin-top: 0;
}

.grid-col {
    display: block;
    float: left;
    margin-left: 2%;
}

.grid-col:first-child {
    margin-left: 0;
}

.grid-col .inner {
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
}

.grid-col-1 {
    width: 15%;
}

.grid-col-2 {
    width: 32%;
}

.grid-col-3 {
    width: 49%;
}

.grid-col-4 {
    width: 66%;
}

.grid-col-5 {
    width: 83%;
}

.grid-col-offset-1 {
    margin-left: 19%;
}

.grid-col-offset-1:first-child {
    margin-left: 17%;
}

.grid-col-offset-2 {
    margin-left: 36%;
}

.grid-col-offset-2:first-child {
    margin-left: 34%;
}

.grid-col-offset-3 {
    margin-left: 53%;
}

.grid-col-offset-3:first-child {
    margin-left: 51%;
}

.grid-col-offset-4 {
    margin-left: 70%;
}

.grid-col-offset-4:first-child {
    margin-left: 68%;
}

.grid-col-offset-5:first-child {
    margin-left: 85%;
}
