<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tenant 1</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename = 'jquery-3.2.1.min.js') }}"></script>
</head>

<body>

    <div class="form1">
        <div class="login-screen">
            <div class="app-title header">
                <h3 class="text-muted">Starbucks</h3>
                <select id="store" class="form-control" style="width:150px;float:right;">
                    <option value="SanJose">San Jose</option>
                    <option value="SanFrancisco">San Francisco</option>
                </select>
            </div>
            <div id="divContent">
                {% include 'order.html' %}
            </div>

            <footer class="footer" style="text-align:center;">
                <p>&copy; 3 Idiots 2017</p>
            </footer>
        </div>
    </div>



    <script>
        $(document).ready(function() {
            $("#btnSave").show();
            $("#btnPay").data("id", "").hide();
            $("#btnNew").hide();
            $("#btnRefresh").hide();
            $("#btnUpdate").data("id", "").hide();
            $("#btnCancel").data("id", "").hide();

            $(document.body).on('click', '#btnSave', function() {
                var data = {};
                data.location = $('#location').val();
                var items = [];
                $(".item").each(function(index) {
                    var item = {};
                    item.qty = $(this).find("#quantity").val();
                    item.name = $(this).find("#name").val();
                    item.milk = $(this).find("#milk").val();
                    item.size = $(this).find("#size").val();
                    items.push(item);
                });
                data.items = items;

                $.ajax({
                    type: 'POST',
                    url: "/starbucks/order",
                    headers: {
                        'uri': $("#store").val()
                    },
                    data: JSON.stringify(data),
                    contentType: 'application/json;charset=UTF-8',
                    dataType: "json",
                    success: function(data) {
                        if (data["_id"]) {
                            $('#lblMessage').html(data["message"]).css("color", "Green").show(2000).fadeTo(7000, 1).hide(2000);
                            $("#btnSave").hide();
                            $("#btnRefresh").data("id", data["_id"]);
                            $("#btnPay").data("id", data["_id"]).show();
                            $("#btnUpdate").data("id", data["_id"]).show();
                            $("#btnCancel").data("id", data["_id"]).show();
                            $(".divStatus").show();
                            $("#store").prop("disabled", true);
                        } else {
                            $('#lblMessage').html("Unable to save order. An error occured.").css("color", "Red").show(2000).fadeTo(7000, 1).hide(2000);
                        }
                    },
                    failure: function(data) {
                        $('#lblMessage').html("Unable to save order. An error occured.").css("color", "Red").show(2000).fadeTo(7000, 1).hide(2000);
                    }
                });
            });

            $(document.body).on('click', '#btnUpdate', function() {
                var data = {};
                data.location = $('#location').val();
                var items = [];
                $(".item").each(function(index) {
                    var item = {};
                    item.qty = $(this).find("#quantity").val();
                    item.name = $(this).find("#name").val();
                    item.milk = $(this).find("#milk").val();
                    item.size = $(this).find("#size").val();
                    items.push(item);
                });
                data.items = items;

                $.ajax({
                    type: 'PUT',
                    url: "/starbucks/order/" + $(this).data("id"),
                    headers: {
                        'uri': $("#store").val()
                    },
                    data: JSON.stringify(data),
                    contentType: 'application/json;charset=UTF-8',
                    dataType: "json",
                    success: function(data) {
                        if (data["_id"]) {
                            $('#lblMessage').html("Order updated successfully.").css("color", "Green").show(2000).fadeTo(7000, 1).hide(2000);
                        } else {
                            $('#lblMessage').html("Unable to update order. An error occured.").css("color", "Red").show(2000).fadeTo(7000, 1).hide(2000);
                        }
                    },
                    failure: function(data) {
                        $('#lblMessage').html("Unable to update order. An error occured.").css("color", "Red").show(2000).fadeTo(7000, 1).hide(2000);
                    }
                });
            });

            $(document.body).on('click', '#btnCancel', function() {
                $.ajax({
                    type: 'DELETE',
                    url: "/starbucks/order/" + $(this).data("id"),
                    headers: {
                        'uri': $("#store").val()
                    },
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: "json",
                    success: function(data, textStatus, xhr) {

                    },
                    complete: function(xhr, textStatus) {
                        if (xhr.status === 204) {
                            $('#lblMessage').html("Order deleted successfully.").css("color", "Green").show(2000).fadeTo(7000, 1).hide(2000);
                            $.ajax({
                                type: 'GET',
                                url: "/addItem",
                                dataType: "html",
                                success: function(data, textStatus, xhr) {
                                    $(".divItems").html(data);
                                    $("#location").val("");
                                    $("#btnSave").show();
                                    $(".divStatus").hide();
                                    $("#lblStatus").val("PLACED");
                                    $("#btnPay").data("id", "").hide();
                                    $("#btnUpdate").data("id", "").hide();
                                    $("#btnCancel").data("id", "").hide();
                                    $("#btnRefresh").data("id", "").hide();
                                },
                                complete: function(xhr, textStatus) {

                                }
                            });
                        } else {
                            $('#lblMessage').html("Unable to delete order. An error occured.").css("color", "Red").show(2000).fadeTo(7000, 1).hide(2000);
                        }
                    }
                });
            });

            $(document.body).on('click', '#btnPay', function() {
                $.ajax({
                    type: 'POST',
                    url: "/starbucks/order/" + $(this).data("id") + "/pay",
                    headers: {
                        'uri': $("#store").val()
                    },
                    dataType: "json",
                    success: function(data) {
                        if (data["_id"]) {
                            $('#lblMessage').html("Payment successful.").css("color", "Green").show(2000).fadeTo(7000, 1).hide(2000);
                            $("#btnNew").show();
                            $("#btnRefresh").show();
                            $("#btnPay").data("id", "").hide();
                            $("#btnUpdate").data("id", "").hide();
                            $("#btnCancel").data("id", "").hide();
                        } else {
                            $('#lblMessage').html("Unable to save order. An error occured.").css("color", "Red").show(2000).fadeTo(7000, 1).hide(2000);
                        }
                    },
                    failure: function(data) {
                        $('#lblMessage').html("Unable to save order. An error occured.").css("color", "Red").show(2000).fadeTo(7000, 1).hide(2000);
                    }
                });
            });

            $(document.body).on('click', '#btnNew', function() {
                $.ajax({
                    type: 'GET',
                    url: "/addItem",
                    dataType: "html",
                    contentType: 'application/json;charset=UTF-8',
                    success: function(data, textStatus, xhr) {
                        $(".divItems").html(data);
                        $("#location").val("");
                        $("#btnSave").show();
                        $("#btnPay").data("id", "").hide();
                        $("#btnNew").hide();
                        $("#btnRefresh").data("id", "").hide();
                        $(".divStatus").hide();
                        $("#lblStatus").val("PLACED");
                        $("#btnUpdate").data("id", "").hide();
                        $("#btnCancel").data("id", "").hide();
                        $("#store").prop("disabled", false);
                    },
                    failure: function(xhr, textStatus) {

                    }
                });
            });

            $(document.body).on('click', '#btnRefresh', function() {
                $.ajax({
                    type: 'GET',
                    url: "/starbucks/order/" + $(this).data("id"),
                    headers: {
                        'uri': $("#store").val()
                    },
                    dataType: "json",
                    success: function(data, textStatus, xhr) {
                        $("#lblStatus").html(data["status"]);
                    },
                    failure: function(xhr, textStatus) {

                    }
                });
            });
        });
    </script>
</body>

</html>