<div class="login-form">
    <div class="div2">
        <h3 class="text-muted">Order</h3>
        <div class="grid-row">
            <div class="grid-col grid-col-2">
                <div class="inner">
                </div>
            </div>
            <div class="grid-col grid-col-2">
                <div class="inner">
                    <select id="location" class="form-control">
                        <option value="">Location</option>
                        <option value="dine-in">Dine-in</option>
                        <option value="take-out">Take out</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="grid-row">
            <div class="grid-col grid-col-5">
                <div class="inner">
                </div>
            </div>
            <div class="grid-col grid-col-1">
                <div class="inner">
                    <a class="addItem form-control" value="Add Item">Add Item</a>
                </div>
            </div>
        </div>
        <div class="divItems">
            {% include 'partialOrder.html' %}
        </div>
        <div class="grid-row divStatus" style="display:none;">
            <div class="grid-col grid-col-1">
                <div class="inner">
                </div>
            </div>
            <div class="grid-col grid-col-2">
                <div class="inner">
                    <label>Status:  </label><label id="lblStatus">PLACED</label>
                </div>
            </div>
            <div class="grid-col grid-col-2">
                <div class="inner">
                    <button id="btnRefresh" class="btn btn-lg btn-primary btn-block" type="button" style="display:none;">Refresh</button>
                </div>
            </div>
            <div class="grid-col grid-col-1">
                <div class="inner">
                </div>
            </div>
        </div>
        <br>

        <label id="lblMessage"></label>

        <div class="grid-row">
            <div class="grid-col grid-col-1">
                <div class="inner">
                    <button id="btnSave" class="btn btn-lg btn-primary btn-block" type="button">Order</button>
                </div>
            </div>
            <div class="grid-col grid-col-1 btnPay">
                <div class="inner">
                    <button id="btnPay" class="btn btn-lg btn-primary btn-block" style="display:none;" type="button">Pay</button>
                </div>
            </div>
            <div class="grid-col grid-col-1 btnUpdate">
                <div class="inner">
                    <button id="btnUpdate" class="btn btn-lg btn-primary btn-block" style="display:none;" type="button">Update</button>
                </div>
            </div>
            <div class="grid-col grid-col-1 btnCancel">
                <div class="inner">
                    <button id="btnCancel" class="btn btn-lg btn-primary btn-block" style="display:none;" type="button">Cancel</button>
                </div>
            </div>
            <div class="grid-col grid-col-1 btnNew">
                <div class="inner">
                    <button id="btnNew" class="btn btn-lg btn-primary btn-block" style="display:none;" type="button">New Order</button>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<script>
    $(document).ready(function() {

        $(document.body).on('click', '.addItem', function() {
            $.ajax({
                type: 'GET',
                url: "/addItem",
                dataType: "html",
                success: function(data, textStatus, xhr) {
                    $(".divItems").append(data);
                },
                complete: function(xhr, textStatus) {

                }
            });
        });

        $(document.body).on('click', '.removeItem', function() {
            $(this).parent(".item").remove();
        });
    });
</script>