<div class="login-form">
    <div class="div2">
        <h3 class="text-muted">Order</h3>
        <br>
        <select id="location" class="form-control">
            <option value="">Location</option>
            <option value="dine-in">Dine-in</option>
            <option value="take-out">Take out</option>
        </select>
        <br>
        <a class="addItem" value="Add Item" style="text-align:right;">Add Item</a>
        <div class="divItems"> {% include 'partialOrder.html' %}
        </div>

        <label id="lblMessage"></label>
        <br>
        <button id="btnSave" class="btn btn-lg btn-primary btn-block" type="button">Order</button>
        <button id="btnPay" class="btn btn-lg btn-primary btn-block" style="display:none;" type="button">Pay</button>
        <button id="btnUpdate" class="btn btn-lg btn-primary btn-block" style="display:none;" type="button">Update</button>
        <button id="btnCancel" class="btn btn-lg btn-primary btn-block" style="display:none;" type="button">Cancel</button>
        <button id="btnNew" class="btn btn-lg btn-primary btn-block" style="display:none;" type="button">New Order</button>
    </div>
    <br>
    <br>

</div>
<script>
    $(document).ready(function() {

        $(document.body).on('click', '.addItem', function() {
            $.ajax({
                type: 'GET',
                url: "/addItem",
                dataType: "html",
                success: function(data, textStatus, xhr) {
                    $(".divItems").append(data);
                },
                complete: function(xhr, textStatus) {

                }
            });
        });

        $(document.body).on('click', '.removeItem', function() {
            $(this).parent(".item").remove();
        });
    });
</script>